<div class="container">
    <h1>About</h1>
    <p>I am currently studying Web322. I have a keen interest in creating dynamic and responsive web applications. My goals include mastering front-end and back-end technologies to build comprehensive web solutions.</p>
    <a href="/shop">Visit Shop</a>
</div>
